<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />

</head>
<body>

	<h1>Welcome to the Book Store!</h1>
	<h4>Books</h4>
	
	
		<form th:action="@{/logout}" method=
	"post">
	<input type="submit" value="Sign Out"/>
	</form>
	
	
	<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th></th>
		<th>Year</th>
		<th></th>
		<th>ISBN</th>
		<th></th>
		<th>Price</th>
		<th>Category</th>
		<th></th>
		<th></th>
		
	</tr>
		<tr th:each = "books : ${books}">
		<td th:text="${books.title} "></td>
		<td th:text="${books.author}"></td>
		<td></td>
		<td th:text="${books.year}"></td>
		<td></td>
		<td th:text="${books.isbn}"></td>
		<td></td>
		<td th:text="${books.price}"></td>
		<td th:text="${books.category.name}"></td>
		<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${books.id})}" class="btn btn-danger">Delete</a></td>
		<td><a th:href="@{/edit/{id}(id=${books.id})}">Edit</a></td>
	</tr>
	</table>
	<a href="/add" class="btn btn-success">Add Book</a>
</body>
</html>